
body {
  font-family: monospace;
  padding: 1rem;
  margin: 2rem auto;
}
.form-inline { 
  height: 35vh;
  max-width: 70rem;
  margin-left: 6%;
}


.contacts {
  background-color: lavender;
  padding: 1rem;
  height: 50vh;
  margin: 2rem auto;
  max-width: 70rem;
  overflow: scroll;
}

.contacts__title {
  padding-bottom: 1rem;
  text-align: center;
}

.contacts__subtitle {
  background-color: rgba(white, 0.5);
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}